 .swiper-button-next {
  background-image: url(./chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
} 

.swiper-button-prev {
  background-image: url(./chevron-left.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev,
.swiper-button-next {
  top: 92%;
  height: 40px; 
  width: 40px; 
  --swiper-navigation-size: 24px;
  z-index: 99; 
}

.swiper-pagination-bullets{
  bottom: 0px; 
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.screenshot {
  background-size: cover;
  background-position-y: center;
}
